.ng-scope{
   // border: 1px red solid;
}
/**
    Note page
    
*/
.gridster * {
  margin:0;
  padding:0;
}

ul {
  list-style-type: none;
}

html{
    font-size: 80%;
}
body {
    font-size: 16px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #444;
    margin: 30px 40px;
}

body.white{
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #d1d1d1),color-stop(100%, #f5f5f5));
    background-image:-webkit-linear-gradient(top, #d1d1d1,#f5f5f5);
    background-color: #d1d1d1;
}

.header-left{
    float: left;
}
.header-left div{
    display: inline;
}

.header-middle{
    left:50%;
    width:300px;
    margin-left:-150px;
    position:absolute;
}

.header-right{
    float:right;
}

.controls {
    margin-bottom: 20px;
}

.gridster ul {
    background-color: #EFEFEF;
}

.gridster li {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    line-height: 100%;
}


.gridster {
    margin: 0 auto;

    opacity: .8;

    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    -ms-transition: opacity .6s;
    transition: opacity .6s;
}

.gridster .gs-w {
    background: #DDD;
    cursor: pointer;
}

.gridster .player {
    background: #BBB;
}


.gridster .preview-holder {
    border: none!important;
    background: red!important;
}

.element{
    padding:3px;
}
.element-label{
    display: block;
    overflow: hidden;
}

.btn{
    padding: 1px 2px;
}